---
---

@import "minimal-light";

  
//   figure {
//     margin: auto;
//     width: 50%; /* Adjust as needed */
//   }
  
//   figcaption {
//     text-align: center;
//     padding-top: 0.5em;
//   }

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  
  .gallery figure {
    flex: 0 1 300px;  /* flex-grow: 0, flex-shrink: 1, flex-basis: 300px */
    margin: 1px;
  }
  
  .gallery img {
    max-width: 100%;
    height: auto;
  }

  .gallery figcaption {
    word-wrap: break-word;
  }
  